<a href="https://colab.research.google.com/github/MoudiAlhazzaa/Tuwaiq_Kaggle_Competition/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Exploration and Preprocessing

### Load Data

In [2]:
dftrn = pd.read_csv('/content/train.csv')
dftst = pd.read_csv('/content/test.csv')

### Explore the datasets to understand the features and target variables

In [5]:
dftrn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6548 entries, 0 to 6547
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Student ID                      6548 non-null   object
 1   Age                             6456 non-null   float64
 2   Gender                          6548 non-null   object
 3   Home Region                     6546 non-null   object
 4   Home City                       6546 non-null   object
 5   Program ID                      6548 non-null   object
 6   Program Main Category Code      6548 non-null   object
 7   Program Sub Category Code       5613 non-null   object
 8   Technology Type                 3566 non-null   object
 9   Program Skill Level             4902 non-null   object
 10  Program Presentation Method     6548 non-null   object
 11  Program Start Date              6548 non-null   object
 12  Program End Date                6548 non-null   object
 13  Program Days                    6548 non-null   int64
 14  Completed Degree                6548 non-null   object
 15  Level of Education              6522 non-null   object
 16  Education Speaciality           6271 non-null   object
 17  College                         2658 non-null   object
 18  University Degree Score         6467 non-null   float64
 19  University Degree Score System  6467 non-null   float64
 20  Employment Status               5982 non-null   object
 21  Job Type                        1981 non-null   object
 22  Still Working                   1981 non-null   object
 23  Y                               6548 non-null   int64
dtypes: float64(3), int64(2), object(19)
memory usage: 1.2+ MB

In [6]:
dftrn.shape

(6548, 24)

In [8]:
dftrn.columns

Index(['Student ID', 'Age', 'Gender', 'Home Region', 'Home City', 'Program ID',
       'Program Main Category Code', 'Program Sub Category Code',
       'Technology Type', 'Program Skill Level', 'Program Presentation Method',
       'Program Start Date', 'Program End Date', 'Program Days',
       'Completed Degree', 'Level of Education', 'Education Speaciality',
       'College', 'University Degree Score', 'University Degree Score System',
       'Employment Status', 'Job Type', 'Still Working', 'Y'],
      dtype='object')

In [9]:
dftrn.describe()

,Age,Program Days,University Degree Score,University Degree Score System,Y
count,6456.000000,6548.000000,6467.000000,6467.000000,6548.000000
mean,26.831165,19.691662,8.224432,9.773929,0.158674
std,5.535967,32.112061,19.120384,21.259962,0.365400
min,18.000000,3.000000,0.000000,4.000000,0.000000
25%,23.000000,5.000000,3.300000,5.000000,0.000000
50%,25.000000,12.000000,4.000000,5.000000,0.000000
75%,29.000000,19.000000,4.510000,5.000000,0.000000
max,57.000000,292.000000,100.000000,100.000000,1.000000

### Perform data preprocessing tasks such as handling missing values, encoding categorical variables, and scaling numerical features.

In [12]:
dftrn.isnull().sum()

Student ID                           0
Age                                 92
Gender                               0
Home Region                          2
Home City                            2
Program ID                           0
Program Main Category Code           0
Program Sub Category Code          935
Technology Type                   2982
Program Skill Level               1646
Program Presentation Method          0
Program Start Date                   0
Program End Date                     0
Program Days                         0
Completed Degree                     0
Level of Education                  26
Education Speaciality              277
College                           3890
University Degree Score             81
University Degree Score System      81
Employment Status                  566
Job Type                          4567
Still Working                     4567
Y                                    0
dtype: int64

In [23]:
dftrn.drop(columns = ['Home City ', 'Program Sub Category Code', 'Technology Type', 'College','Job Type','Still Working',], axis= 1 ,inplace = True)

KeyError: "['College', 'Job Type', 'Still Working'] not found in axis"

In [25]:
dftrn['Age'].fillna(dftrn['Age'].median(), inplace=True)
dftrn['Employment Status'].fillna(dftrn['Employment Status'].mode().iloc[0], inplace=True)
dftrn['Home Region'].fillna(dftrn['Home Region'].mode().iloc[0], inplace=True)
dftrn['Program Skill Level'].fillna(dftrn['Program Skill Level'].mode().iloc[0], inplace=True)
dftrn['Level of Education'].fillna(dftrn['Level of Education'].mode().iloc[0], inplace=True)
dftrn['Education Speaciality'].fillna(dftrn['Education Speaciality'].mode().iloc[0], inplace=True)
dftrn['University Degree Score'].fillna(dftrn['University Degree Score'].mean(), inplace=True)
dftrn['University Degree Score System'].fillna(5, inplace=True)
dftrn['Employment Status'].fillna(dftrn['Employment Status'].mode().iloc[0], inplace=True)